.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 90px 0;
  font-weight: 300;
}

.welcome-headeer__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-headeer__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  margin-bottom: 25px;
  border: none;
  padding: 15px 0px;
  font-size: 18px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  cursor: pointer;
  padding: 18px 0;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

#login-form input[type="submit"] {
  transition: background-color 0.3s ease-in-out;
}

#login-form input[type="submit"]:hover {
  background-color: var(--yellow);
}
